.userInput {
  border: 1px solid #eee;
  padding: 12px;
  font-size: 16px;
  margin-right: 10px;
}

.userLabel {
  background-color: #eee;
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  display: -webkit-inline-box;
}

.payinststatus {
    background-color: #008005;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.refundinststatus{
  background-color: #800028;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.inststatus{
  background-color: #005b80;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.printstatus{
  background-color: #c76500;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}
